<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receptkönyv</title>
</head>

<body>
<ul>
    <li>Alapanyagok</li>
    <li><a href="receptek">Receptek</a></li>
    <li><a href="/logout">Kilépés</a></li>
</ul>

<table border="1">
{% for ingredient in ingredients %}
    <tr>
        <td>{{ ingredient.name }}</td>
        <td>X</td>
    </tr>
{% endfor %}
</table>
</body>

</html>

