<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receptkönyv</title>
</head>

<body>
<ul>
    <li>Alapanyagok</li>
    <li><a href="receptek">Receptek</a></li>
    <li><a href="/logout">Kilépés</a></li>
</ul>
</body>

</html>

