<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Receptkönyv</title>

    {% javascripts
    'js/jquery-3.1.1.min.js'
    '@BloggerAdminBundle/Resources/js/ingredients.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</head>

<body>
<ul>
    <li>Alapanyagok</li>
    <li><a href="receptek">Receptek</a></li>
    <li><a href="/logout">Kilépés</a></li>
</ul>
<table border="1">
    {% for ingredient in ingredients%}
        <tr>
            <td>{{  ingredient.name}}</td>
            <td><button type="button" name="deleteingredient" value="{{ ingredient.id }}">X</button></td>
        </tr>
    {% endfor %}
</table>
</body>

</html>

